/* Istniejące style */
body {
  background-color: #1e272e;
  color: silver;
  font-size: 16px;
}

.App {
  text-align: center;
  padding: 5% 10%;
  max-width: 100%;
  margin: auto;
}

.results {
  font-size: 1em;
}

.header {
  font-size: 1.5em;
}

.select {
  padding: 6px 12px;
  font-size: 10px;
  width: 100px;
  margin-right: 20px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

.startBtn {
  padding: 6px 12px;
  font-size: 10px;
  width: 100px;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.5);
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 1em 0;
}
.cheatCheck {
  font-size: 1em;
  margin-top: 30px;
  color: white;
}

@media (min-width: 1200px) {
  .results {
    font-size: 2em;
  }
  .header {
    font-size: 3em;
  }
  .select {
    font-size: 20px;
    width: 200px;
    text-align: center;
  }
  .startBtn {
    font-size: 20px;
    width: 200px;
  }
}
